<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5>Find Us at</h5>
                <p>BM2 E13, New Industrial Market Azueke Ndume Ibeku, Umuahia, Abia - State.</p>
            </div>
            <div class="col l6 s12">
                <h5>We're Social</h5>
                <ul>
                    <li><a href="#!">Facebook</a></li>
                    <li><a href="#!">Twitter</a></li>
                    <li><a href="#!">Instagram</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            <p id="footer-text" class="center">&copy; Copyright Victory Granite and Tiles 2018 - <span id="vegis">Powered by Vegistech</span></p>
        </div>
    </div>
</footer>