<header>
    <div class="navbar-fixed">
        <ul id="floor-tiles" class="dropdown-content">
            <li><a href="#target" class="ajaxLink" data-href="/partials/ceramic-wall-tiles.html">Ceramic</a></li>
            <li class="divider"></li>
            <li><a class="ajaxLink" href="#target" data-href="/partials/vitrified-wall-tiles.html">Vitrified</a></li>
            <li class="divider"></li>
            <li><a class="ajaxLink" href="#target" data-href="/partials/digital-floor-tiles.html">Digital</a></li>
        </ul>
        <ul id="wall-tiles" class="dropdown-content">
            <li><a class="ajaxLink" href="#target" data-href="/partials/digital-wall-tiles.html">Digital</a></li>
            <li class="divider"></li>
            <li><a class="ajaxLink" href="#target" data-href="/partials/exterior-wall-tiles.html">Exterior</a></li>
        </ul>
        <ul id="products" class="dropdown-content">
            <li><a class="ajaxLink" href="#target" data-href="/partials/kitchen-furniture.html">Kitchen Furniture</a></li>
            <li class="divider"></li>
            <li><a class="ajaxLink" href="#target" data-href="/partials/bedroom-furniture.html">Bedroom Furniture</a></li>
            <li class="divider"></li>
            <li><a class="ajaxLink" href="#target" data-href="/partials/tables.html">Tables</a></li>
            <li class="divider"></li>
            <li><a class="ajaxLink" href="#target" data-href="/partials/chairs.html">Chairs</a></li>
        </ul>
        <nav class="nav-extended">
            <div>
                <div class="nav-wrapper">
                    <a href="#" class="brand-logo"><img id="logo" src="/img/logo.png" alt="logo"></a>
                    <a href="#" data-target="mobile-menu" class="sidenav-trigger">Logo</a>
                    <ul id="links" class="right hide-on-med-and-down">
                        <li><a href="/"><i class="mdi mdi-home left"></i>HOME</a></li>
                        <li><a href="#!" class="dropdown-trigger" data-target="floor-tiles"><i class="mdi mdi-menu-down right"></i>FLOOR TILES</a></li>
                        <li><a href="#!" class="dropdown-trigger" data-target="wall-tiles"><i class="mdi mdi-menu-down right"></i>WALL TILES</a></li>
                        <li><a href="#!" class="dropdown-trigger" data-target="products"><i class="mdi mdi-menu-down right"></i>PRODUCTS</a></li>
                        <li><a href="#findUs"><i class="mdi mdi-map-marker-outline left"></i>FIND US</a></li>
                        <li><a href="#contact"><i class="mdi mdi-phone left"></i>CONTACT</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>