<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {{!-- <link rel="icon" type="image/png" href="/img/favicon.png"> --}}
    <link rel="stylesheet" href="/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/css/materialize.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/{{style}}">
    <title>{{title}}</title>
</head>
<body>
    {{{body}}}
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/materialize.min.js"></script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDiQpD-_A1Rvo6bhNlYeW2RywH39_bospA&callback=initMap">
    </script>
    <script src="js/{{script}}"></script>
</body>
</html>