{{> header}}
<div>
    <div class="slider">
        <ul class="slides">
            <li>
                <img class="slides" src="/img/slide1.jpg" alt="Slide 1">
                <div class="caption center-align">
                    <h3 id="slide1-header">Victory Granites and Tiles</h3>
                    <h5 class="section light" style="color: rgba(0, 0, 0, .8); background-color: rgba(255, 255, 255, 0.5);"><em>Amplify the beauty of your Home...</em></h5>
                </div>
            </li>		
            <li>
                <img class="slides" src="/img/slide2.jpg" alt="Slide 2">
                <div class="caption center-align">
                    <h3 id="slide2-header" class="section light">we define comfort...</h3>
                </div>
            </li>		
            <li>
                <img class="slides" src="/img/slide3.jpg" alt="Slide 3">
                <div class="caption">
                    <h3 id="slide3-header">Home Furniture, <br>with Exquisite Taste</h3>
                </div>
            </li>		
            <li>
                <img class="slides" src="/img/slide4.jpg" alt="Slide 4">
                <div class="caption center-align">
                    <h3 id="slide4-header">Make your House a Home</h3>
                    <h5 id="slide4-subtitle"class="section light">We offer the best!</h5>
                </div>
            </li>		
            <li>
                <img class="slides" src="/img/slide5.jpg" alt="Slide 5">
                <div class="caption center-align">
                    <a class="ajaxLink btn waves-effect waves-light view-more" href="#target" data-href="/partials/bedroom-furniture.html">See More Furniture</a>
                </div>
            </li>				
        </ul>

    </div>
</div>
<div class="scrollspy" id="target"></div>
<div id="products-showcase">
    <div>
        <h4 class="center">What We Sell</h4>
        <div class="row product">
            <div class="col s12 l3 m6 product-image">
                <div>
                    <img src="/img/home-chair.jpg" alt="Home Furniture" class="materialboxed responsive-img">
                    <h6>Home Furniture</h6>
                </div>
            </div>
            <div class="col s12 l3 m6 product-image">
                <div>
                    <img src="/img/ceramic-wall-tiles.jpg" alt="Ceramic Wall Tile" class="materialboxed responsive-img">
                    <h6>Ceramic Wall Tiles</h6>
                </div>
            </div>
            <div class="col s12 l3 m6 product-image">
                <div>
                    <img src="/img/car-parking-tile.png" alt="Car Parking Tile" class="materialboxed responsive-img">
                    <h6>Car Parking Tile</h6>
                </div>
            </div>
            <div class="col s12 l3 m6 product-image">
                <div>
                    <img src="/img/kitchen-furniture.jpg" alt="Kitchen Furniture" class="materialboxed responsive-img">
                    <h6>Kitchen Furniture</h6>
                </div>
            </div>
        </div>
        <div class="row product">
            <div class="col s12 l3 m6 product-image">
                <div>
                    <img src="/img/emperador-marble.jpg" alt="Emperador Marble" class="materialboxed responsive-img">
                    <h6>Emperador Marble</h6>
                </div>
            </div>
            <div class="col s12 l3 m6 product-image">
                <div>
                    <img src="/img/bedroom-furniture.jpg" alt="Bedroom Furniture" class="materialboxed responsive-img">
                    <h6>Bedroom Furniture</h6>
                </div>
            </div>
            <div class="col s12 l3 m6 product-image">
                <div>
                    <img src="/img/marble-side-stool.jpg" alt="Marble Side Stool" class="materialboxed responsive-img">
                    <h6>Marble Side Stool</h6>
                </div>
            </div>
            <div class="col s12 l3 m6 product-image">
                <div>
                    <img src="/img/granite-table.jpeg" alt="Granite Table" class="materialboxed responsive-img">
                    <h6>Granite Table</h6>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <div id="contact" class="contact scrollspy">
        <div class="row">
            <div class="col s12 l6">
                <h4>About Us</h4>
                <p id="aboutUs">
                    Victory Granite and Tiles is recognised as synonymous with quality, and is also said to symbolise the housing of the best style of furniture for interior decoration. At VGT we don’t just sell tiles and furniture, we help transform homes into dreams come true. We excel in room makeovers from start to finish, offering everything from the greatest looks in tiling to amazing furniture for every room and the best selection of accessories around. We are committed to customer satisfaction.
                </p>
            </div>
            <div class="col s12 l6">
                <h4 class="center">Need Our Product? Contact Us!</h4>
                <form name="messageForm">
                    <div class="row">
                        <div class="col s12 input-field">
                            <i class="mdi mdi-alphabetical prefix"></i>
                            <input type="text" name="customerName" id="customerName" class="validate">
                            <label for="customerName">Name</label>
                            <span class="helper-text" data-error="Please provide your name" data-success="Okay"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 l6 input-field">
                            <i class="mdi mdi-email-outline prefix"></i>
                            <input type="email" name="email" id="email">
                            <label for="email">Email</label>
                            <span class="helper-text" data-error="Invalid Email" data-success="Okay"><em>Email is Optional</em></span>
                        </div>
                        <div class="col s12 l6 input-field">
                            <i class="mdi mdi-phone prefix"></i>
                            <input type="text" name="phone" id="phone" class="validate">
                            <label for="phone">Phone</label>
                            <span class="helper-text" data-error="Please provide a valid phone number" data-success="Okay"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 input-field">
                            <i class="mdi mdi-comment-outline prefix"></i>
                            <textarea name="message" id="message" class="materialize-textarea validate"></textarea>
                            <label for="message">Product Request...</label>
                            <span class="helper-text" data-error="Please fill this input" data-success="Okay"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 input-field">
                            <button type="submit" class="btn waves-effect waves-light" id="messageButton"><i class="mdi mdi-send left"></i>Send Message</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div id="parallax">
    <div class="parallax-container">
        <div class="section no-pad-bot">
            <div class="container">
                <div class="row left">
                    <h3 id="parallax-text" class="center" class="col s12">A Palace is in its Furniture</h3>
                </div>
            </div>
        </div>
        <div class="parallax">
            <img src="/img/parallax.jpg" class="responsive-img" alt="parallax">
        </div>
    </div>
</div>
<div>
    <iframe id="findUs" class="scrollspy" src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d31771.70922776622!2d7.502850057307107!3d5.497952169283047!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sdiamond+bank+near+Old+Timber+Road%2C+Umuahia!5e0!3m2!1sen!2sng!4v1540412687586" allowfullscreen></iframe>
</div>
<div class="fixed-action-btn">
    <a href="#page-top" class="z-depth-4 btn-floating fab" id="top"><i id="top-arrow" class="mdi mdi-chevron-up"></i></a>
</div>
{{> footer}}