.slides {
    max-height: 900px !important;
}

.slider .indicators .indicator-item.active {
    background-color: #de0b7c !important;
}

#products-showcase .container {
    padding: 20px;
}

.product-image {
    background-color: #fff;
    box-shadow: 2px 2px 5px gray;
}

.product-image:hover {
    box-shadow: 4px 4px 10px gray;
}

.materialboxed {
    cursor: pointer;
}

.contact {
    background-color: #fff;
    padding: 40px;
}

img.responsive-img {
    height: 350px !important;
}

h4 {
    color: #e87910;
}

h6 {
    color: #666;
    font-size: 17px;
    text-align: center;
}

form {
    background-color: #f5f5f5;
    padding: 10px;
}

.input-field label {
    color: #333 !important;
}

.input-field input[type=text]:focus + label, .input-field input[type=email]:focus + label, .input-field textarea:focus + label {
    color: #c76100 !important;
}
  /* label underline focus color */
  .input-field input[type=text]:focus, .input-field input[type=email]:focus, .input-field textarea:focus {
    border-bottom: 1px solid #c76100 !important;
    box-shadow: 0 1px 0 0 #c76100 !important;
}
  
.input-field input[type=text].valid, .input-field input[type=email].valid, .input-field textarea.valid {
    border-bottom: 1px solid #4CAF50 !important;
    box-shadow: 0 1px 0 0 #4CAF50 !important;
}

.input-field input[type=text].invalid {
    border-bottom: 1px solid #f00 !important;
}

.input-field .prefix {
    color: #777;
}

.input-field .prefix.active {
    color: #c76100;
}

button {
    background-color: #e87910 !important;
}

.view-more {
    background-color: #c76100;
    top: 200px !important;
}

.view-more:visited {
    background-color: #c76100;
}

.view-more:hover, button:hover {
    background-color: #c76100 !important;
}

#findUs {
    height: 400px;
    width: 100%;
}

.page-footer {
    background-color: #fff;
    color: #444 !important;
}

.page-footer .footer-copyright {
    background-color: #fff;
    color: #444 !important;
    border-top: 2px solid #f5f5f5;
}

#vegis {
    font-style: italic;
}

#top {
    background-color: #de0b7c;
}

#top:hover {
    background-color: #c9006c;
}

@media (max-width: 768px) {
    .product-image {
        text-align: center;
    }   

    h4 {
        font-size: 18px;
    }
}