<div>
    <h4 class="center">CERAMIC WALL TILES</h4>
    <div class="row product">
        <div class="col s12 l3 m6 product-image">
            <div>
                <img src="/img/digital-floor-tiles.jpg" alt="Digital Floor Tiles" class="materialboxed responsive-img">
                <h6>Digital Floor Tiles</h6>
            </div>
        </div>
        <div class="col s12 l3 m6 product-image">
            <div>
                <img src="/img/silver-clearance.jpg" alt="Silver Clearance" class="materialboxed responsive-img">
                <h6>Silver Clearances</h6>
            </div>
        </div>
        <div class="col s12 l3 m6 product-image">
            <div>
                <img src="/img/komo-white.jpg" alt="Komo White" class="materialboxed responsive-img">
                <h6>Komo White</h6>
            </div>
        </div>
        <div class="col s12 l3 m6 product-image">
            <div>
                <img src="/img/fronda-perla.jpg" alt="Fronda Perla" class="materialboxed responsive-img">
                <h6>Fronda Perla</h6>
            </div>
        </div>
    </div>
    <div class="row product">
        <div class="col s12 l3 m6 product-image">
            <div>
                <img src="/img/c31880.jpg" alt="C31880" class="materialboxed responsive-img">
                <h6>C31880</h6>
            </div>
        </div>
        <div class="col s12 l3 m6 product-image">
            <div>
                <img src="/img/maroon-kajara.jpg" alt="Maroon Kajara" class="materialboxed responsive-img">
                <h6>Maroon Kajara</h6>
            </div>
        </div>
        <div class="col s12 l3 m6 product-image">
            <div>
                <img src="/img/slippery-porcelain.jpg" alt="Slippery Porcelain" class="materialboxed responsive-img">
                <h6>Slippery Porcelain</h6>
            </div>
        </div>
        <div class="col s12 l3 m6 product-image">
            <div>
                <img src="/img/orient-bell.jpg" alt="Orient Bell" class="materialboxed responsive-img">
                <h6>Orient Bell</h6>
            </div>
        </div>
    </div>
</div>