<div>
    <h4 class="center">CHAIRS</h4>
    <div class="row product">
        <div class="col s12 l3 m6 product-image">
            <div>
                <img src="/img/chair-furniture.jpg" alt="Chair Furniture" class="materialboxed responsive-img">
                <h6>Chair Furniture</h6>
            </div>
        </div>
        <div class="col s12 l3 m6 product-image">
            <div>
                <img src="/img/living-room-chairs.jpg" alt="Living Room Chairs" class="materialboxed responsive-img">
                <h6>Living Room Chairs</h6>
            </div>
        </div>
        <div class="col s12 l3 m6 product-image">
            <div>
                <img src="/img/lounge-chair.jpg" alt="Lounge Chair" class="materialboxed responsive-img">
                <h6>Lounge Chair</h6>
            </div>
        </div>
        <div class="col s12 l3 m6 product-image">
            <div>
                <img src="/img/heritage-chair.png" alt="Heritage Chair" class="materialboxed responsive-img">
                <h6>Heritage Chair</h6>
            </div>
        </div>
    </div>
    <div class="row product">
        <div class="col s12 l3 m6 product-image">
            <div>
                <img src="/img/royal-chair.jpg" alt="Royal Chair" class="materialboxed responsive-img">
                <h6>Royal Chair</h6>
            </div>
        </div>
        <div class="col s12 l3 m6 product-image">
            <div>
                <img src="/img/club-chairs.jpeg" alt="Club Chairs" class="materialboxed responsive-img">
                <h6>Club Chairs</h6>
            </div>
        </div>
        <div class="col s12 l3 m6 product-image">
            <div>
                <img src="/img/office-chairs.jpg" alt="Office Chairs" class="materialboxed responsive-img">
                <h6>Office Chairs</h6>
            </div>
        </div>
        <div class="col s12 l3 m6 product-image">
            <div>
                <img src="/img/waiting-chairs.jpg" alt="Waiting Chairs" class="materialboxed responsive-img">
                <h6>Waiting Chairs</h6>
            </div>
        </div>
    </div>
</div>