<div>
        <h4 class="center">DIGITAL WALL TILES</h4>
        <div class="row product">
            <div class="col s12 l3 m6 product-image">
                <div>
                    <img src="/img/gvt-supper-glossy-white-edge.jpg" alt="Glossy White Edge" class="materialboxed responsive-img">
                    <h6>Glossy White Edge<br><span class="dimension">60 x 60cm & 25 x 40cm</span></h6>
                </div>
            </div>
            <div class="col s12 l3 m6 product-image">
                <div>
                    <img src="/img/murano-cranny.jpg" alt="Murano" class="materialboxed responsive-img">
                    <h6>Murano<br><span class="dimension">25 x 40cm</span></h6>
                </div>
            </div>
            <div class="col s12 l3 m6 product-image">
                <div>
                    <img src="/img/decor.jpg" alt="Decor" class="materialboxed responsive-img">
                    <h6>Decor<br><span class="dimension">25 x 40cm</span></h6>
                </div>
            </div>
            <div class="col s12 l3 m6 product-image">
                <div>
                    <img src="/img/blooming.jpg" alt="Blooming" class="materialboxed responsive-img">
                    <h6>Blooming<br><span class="dimension">25 x 40cm</span></h6>
                </div>
            </div>
        </div>
        <div class="row product">
            <div class="col s12 l3 m6 product-image">
                <div>
                    <img src="/img/skyros.jpg" alt="Skyros" class="materialboxed responsive-img">
                    <h6>Skyros<br><span class="dimension">25 x 40cm</span></h6>
                </div>
            </div>
            <div class="col s12 l3 m6 product-image">
                <div>
                    <img src="/img/designer.jpg" alt="Designer" class="materialboxed responsive-img">
                    <h6>Designer<br><span class="dimension">25 x 40cm</span></h6>
                </div>
            </div>
            <div class="col s12 l3 m6 product-image">
                <div>
                    <img src="/img/admark.jpg" alt="Admark" class="materialboxed responsive-img">
                    <h6>Admark<br><span class="dimension">12 x 18cm</span></h6>
                </div>
            </div>
            <div class="col s12 l3 m6 product-image">
                <div>
                    <img src="/img/el-8002.jpg" alt=El-8002n" class="materialboxed responsive-img">
                    <h6>El-8002<br><span class="dimension">30 x 60cm</span></h6>
                </div>
            </div>
        </div>
    </div>