<div>
    <h4 class="center">DIGITAL FLOOR TILES</h4>
    <div class="row product">
        <div class="col s12 l3 m6 product-image">
            <div>
                <img src="/img/breccia-marble-a.jpg" alt="Breccia Marble-A" class="materialboxed responsive-img">
                <h6>Breccia Marble-A<br><span class="dimension">60 x 60cm</span></h6>
            </div>
        </div>
        <div class="col s12 l3 m6 product-image">
            <div>
                <img src="/img/abertamy.jpg" alt="Abertamy" class="materialboxed responsive-img">
                <h6>Abertamy<br><span class="dimension">60 x 60cm</span></h6>
            </div>
        </div>
        <div class="col s12 l3 m6 product-image">
            <div>
                <img src="/img/blue-loom-marble.jpg" alt="Blue Loom Marble" class="materialboxed responsive-img">
                <h6>Blue Loom Marble<br><span class="dimension">60 x 60cm</span></h6>
            </div>
        </div>
        <div class="col s12 l3 m6 product-image">
            <div>
                <img src="/img/connemara-marble.jpg" alt="Connermara Marble" class="materialboxed responsive-img">
                <h6>Connermara Marble<br><span class="dimension">60 x 60cm</span></h6>
            </div>
        </div>
    </div>
    <div class="row product">
        <div class="col s12 l3 m6 product-image">
            <div>
                <img src="/img/cippolino-marble.jpg" alt="Cipollino Marble" class="materialboxed responsive-img">
                <h6>Cipollino Marble<br><span class="dimension">60 x 60cm</span></h6>
            </div>
        </div>
        <div class="col s12 l3 m6 product-image">
            <div>
                <img src="/img/flora-dgvt.jpg" alt="Flora D.G.V.T." class="materialboxed responsive-img">
                <h6>Flora D.G.V.T.<br><span class="dimension">60 x 60cm</span></h6>
            </div>
        </div>
        <div class="col s12 l3 m6 product-image">
            <div>
                <img src="/img/pentelic-marble.jpg" alt="Pentelic Marble" class="materialboxed responsive-img">
                <h6>Pentelic Marble<br><span class="dimension">60 x 60cm</span></h6>
            </div>
        </div>
        <div class="col s12 l3 m6 product-image">
            <div>
                <img src="/img/portoro-gold.jpg" alt="Portoro Gold" class="materialboxed responsive-img">
                <h6>Portoro Gold<br><span class="dimension">60 x 60cm</span></h6>
            </div>
        </div>
        <div class="col s12 l3 m6 product-image">
            <div>
                <img src="/img/arlington.jpg" alt="Arlignton" class="materialboxed responsive-img">
                <h6>Arlignton<br><span class="dimension">60 x 60cm & 30 x 60cm</span></h6>
            </div>
        </div>
    </div>
</div>