<div>
    <h4 class="center">KITCHEN FURNITURE</h4>
    <div class="row product">
        <div class="col s12 l3 m6 product-image">
            <div>
                <img src="/img/modular-kitchen.jpg" alt="Modular Kitchen Cabinet" class="materialboxed responsive-img">
                <h6>Modular Kitchen Cabinet</h6>
            </div>
        </div>
        <div class="col s12 l3 m6 product-image">
            <div>
                <img src="/img/kitchen-furniture.jpg" alt="kitchen and Dining" class="materialboxed responsive-img">
                <h6>kitchen and Dining</h6>
            </div>
        </div>
        <div class="col s12 l3 m6 product-image">
            <div>
                <img src="/img/six-seater.jpg" alt="6-Seater" class="materialboxed responsive-img">
                <h6>6-Seater</h6>
            </div>
        </div>
        <div class="col s12 l3 m6 product-image">
            <div>
                <img src="/img/kitchen-tables.jpg" alt="Kitchen Tables" class="materialboxed responsive-img">
                <h6>Kitchen Tables</h6>
            </div>
        </div>
    </div>
    <div class="row product">
        <div class="col s12 l3 m6 product-image">
            <div>
                <img src="/img/kitchen-cabinet.jpg" alt="Kitchen Cabinet" class="materialboxed responsive-img">
                <h6>Kitchen Cabinet</h6>
            </div>
        </div>
        <div class="col s12 l3 m6 product-image">
            <div>
                <img src="/img/luxury-dining.jpg" alt="Luxury Dining" class="materialboxed responsive-img">
                <h6>Luxury Dining</h6>
            </div>
        </div>
        <div class="col s12 l3 m6 product-image">
            <div>
                <img src="/img/modular-kitchen.jpg" alt="Modular Kitchen" class="materialboxed responsive-img">
                <h6>Modular Kitchen</h6>
            </div>
        </div>
        <div class="col s12 l3 m6 product-image">
            <div>
                <img src="/img/kitchen-cabinet2.jpg" alt="Kitchen Cabinet" class="materialboxed responsive-img">
                <h6>Kitchen Cabinet</h6>
            </div>
        </div>
    </div>
</div>