<div>
    <h4 class="center">TABLE FURNITURE</h4>
    <div class="row product">
        <div class="col s12 l3 m6 product-image">
            <div>
                <img src="/img/kitchen-and-dining.jpg" alt="Kitchen and Dining" class="materialboxed responsive-img">
                <h6>Kitchen and Dining</h6>
            </div>
        </div>
        <div class="col s12 l3 m6 product-image">
            <div>
                <img src="/img/mirrored-dining-table.jpg" alt="Mirrored Dining Table" class="materialboxed responsive-img">
                <h6>Mirrored Dining Table</h6>
            </div>
        </div>
        <div class="col s12 l3 m6 product-image">
            <div>
                <img src="/img/red-jury.jpg" alt="Red Jury" class="materialboxed responsive-img">
                <h6>Red Jury</h6>
            </div>
        </div>
        <div class="col s12 l3 m6 product-image">
            <div>
                <img src="/img/wooden-side-stool.jpg" alt="Wooden Side Stool" class="materialboxed responsive-img">
                <h6>Wooden Side Stool</h6>
            </div>
        </div>
    </div>
    <div class="row product">
        <div class="col s12 l3 m6 product-image">
            <div>
                <img src="/img/classroom-activity-table.png" alt="Classroom Activity Table" class="materialboxed responsive-img">
                <h6>Classroom Activity Table</h6>
            </div>
        </div>
        <div class="col s12 l3 m6 product-image">
            <div>
                <img src="/img/heavyduty-rectangular-school-table.jpg" alt="School Table" class="materialboxed responsive-img">
                <h6>School Table</h6>
            </div>
        </div>
        <div class="col s12 l3 m6 product-image">
            <div>
                <img src="/img/marble-side-stool.jpg" alt="Marble Side Stool" class="materialboxed responsive-img">
                <h6>Marble Side Stool</h6>
            </div>
        </div>
        <div class="col s12 l3 m6 product-image">
            <div>
                <img src="/img/granite-table-tops.jpg" alt="Granite Table Tops" class="materialboxed responsive-img">
                <h6>Granite Table Tops</h6>
            </div>
        </div>
    </div>
</div>
