<div>
    <h4 class="center">TABLE FURNITURE</h4>
    <div class="row product">
        <div class="col s12 l3 m6 product-image">
            <div>
                <img src="/img/kitchen-and-dining.jpg" alt="Kitchen and Dining" class="materialboxed responsive-img">
                <h6>Kitchen and Dining</h6>
            </div>
        </div>
        <div class="col s12 l3 m6 product-image">
            <div>
                <img src="/img/mirrored-dining-table.jpg" alt="Mirrored Dining Table" class="materialboxed responsive-img">
                <h6>Mirrored Dining Table</h6>
            </div>
        </div>
        <div class="col s12 l3 m6 product-image">
            <div>
                <img src="/img/felicia-coffee-table.jpg" alt="Felicia Coffee Table" class="materialboxed responsive-img">
                <h6>Felicia Coffee Table</h6>
            </div>
        </div>
        <div class="col s12 l3 m6 product-image">
            <div>
                <img src="/img/glass-top-center-table.jpg" alt="Glass-top Center Table" class="materialboxed responsive-img">
                <h6>Glass-top Center Table</h6>
            </div>
        </div>
    </div>
    <div class="row product">
        <div class="col s12 l3 m6 product-image">
            <div>
                <img src="/img/classroom-activity-table.png" alt="Classroom Activity Table" class="materialboxed responsive-img">
                <h6>Classroom Activity Table</h6>
            </div>
        </div>
        <div class="col s12 l3 m6 product-image">
            <div>
                <img src="/img/heavyduty-rectangular-school-table.jpg" alt="School Table" class="materialboxed responsive-img">
                <h6>School Table</h6>
            </div>
        </div>
        <div class="col s12 l3 m6 product-image">
            <div>
                <img src="/img/classic-office-table.jpg" alt="Classic Office Table" class="materialboxed responsive-img">
                <h6>Classic Office Table</h6>
            </div>
        </div>
        <div class="col s12 l3 m6 product-image">
            <div>
                <img src="/img/office-workstation.jpg" alt="Office Workstation" class="materialboxed responsive-img">
                <h6>Office Workstation</h6>
            </div>
        </div>
    </div>
</div>