<div>
    <h4 class="center">VITRIFIED WALL TILES</h4>
    <div class="row product">
        <div class="col s12 l3 m6 product-image">
            <div>
                <img src="/img/cera-nano.jpg" alt="Ceran Nano" class="materialboxed responsive-img">
                <h6>Ceran Nano</h6>
            </div>
        </div>
        <div class="col s12 l3 m6 product-image">
            <div>
                <img src="/img/evalia-ethnic.jpg" alt="Evalia Ethnic" class="materialboxed responsive-img">
                <h6>Evalia Ethnics</h6>
            </div>
        </div>
        <div class="col s12 l3 m6 product-image">
            <div>
                <img src="/img/pattern-vitrified.jpg" alt="Pattern Vitrified" class="materialboxed responsive-img">
                <h6>Pattern Vitrified</h6>
            </div>
        </div>
        <div class="col s12 l3 m6 product-image">
            <div>
                <img src="/img/rak-vitrified.jpg" alt="Rak Vitrified" class="materialboxed responsive-img">
                <h6>Rak Vitrified</h6>
            </div>
        </div>
    </div>
    <div class="row product">
        <div class="col s12 l3 m6 product-image">
            <div>
                <img src="/img/beige-salt-and-pepper.jpg" alt="Beige" class="materialboxed responsive-img">
                <h6>Beige</h6>
            </div>
        </div>
        <div class="col s12 l3 m6 product-image">
            <div>
                <img src="/img/somany-micra-brown.jpg" alt="Somany Micra Brown" class="materialboxed responsive-img">
                <h6>Somany Micra Brown</h6>
            </div>
        </div>
        <div class="col s12 l3 m6 product-image">
            <div>
                <img src="/img/dorset-stone.jpeg" alt="Dorset Stone" class="materialboxed responsive-img">
                <h6>Dorset Stone</h6>
            </div>
        </div>
        <div class="col s12 l3 m6 product-image">
            <div>
                <img src="/img/nexa-grey.jpg" alt="Nexa Grey" class="materialboxed responsive-img">
                <h6>Nexa Grey</h6>
            </div>
        </div>
    </div>
</div>